@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    /* =====  Color ===== */
    --neutral-0: 0 0% 100%;
    --neutral-400: 240 1% 59%;
    --neutral-500: 240 3% 46%;
    --neutral-700: 0 0% 23%;
    --neutral-800: 0 0% 15%;
    --neutral-900: 0 0% 7%;
    --blue-400: 210 100% 65%;
    --blue-600: 214 100% 55%;
    --red-500: 354 63% 57%;
    --green-500: 140 63% 57%;
    --yellow-400: 49 85% 70%;

    /* =====  Typography ===== */
    --font-family-primary: "Sora";

    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --text-preset-1-font-size: 4.0rem;
    --text-preset-1-font-weight: var(--font-weight-bold);
    --text-preset-1-line-height: 1.36;
    --text-preset-1-letter-spacing: 0.4px;
    
    --text-preset-1-mobile-font-size: 2.4rem;
    --text-preset-1-mobile-line-height: 1.2;
    --text-preset-1-mobile-letter-spacing: 0.32px;

    --text-preset-1-regular-font-size: 4.0rem;
    --text-preset-1-regular-font-weight: var(--font-weight-regular);
    --text-preset-1-regular-line-height: 1.36;
    --text-preset-1-regular-letter-spacing: 0.4px;

    --text-preset-1-regular-mobile-font-size: 3.2rem;
    --text-preset-1-regular-mobile-line-height: 1.36;
    --text-preset-1-regular-mobile-letter-spacing: 0.4px;

    --text-preset-2-font-size: 2.4rem;
    --text-preset-2-font-weight: var(--font-weight-bold);
    --text-preset-2-line-height: 1;
    --text-preset-2-letter-spacing: 0;

    --text-preset-3-font-size: 2.0rem;
    --text-preset-3-font-weight: var(--font-weight-regular);
    --text-preset-3-line-height: 1.2;
    --text-preset-3-letter-spacing: -0.6px;

    --text-preset-3-mobile-font-size: 1.6rem;
    --text-preset-3-mobile-line-height: 1.2;
    --text-preset-3-mobile-letter-spacing: -0.48px;

    --text-preset-3-semibold-font-size: 2.0rem;
    --text-preset-3-semibold-font-weight: var(--font-weight-semibold);
    --text-preset-3-semibold-line-height: 1.2;
    --text-preset-3-semibold-letter-spacing: -0.3px;

    --text-preset-4-font-size: 1.8rem;
    --text-preset-4-font-weight: var(--font-weight-regular);
    --text-preset-4-line-height: 1.2;
    --text-preset-4-letter-spacing: -0.6px;

    --text-preset-5-font-size: 1.6rem;
    --text-preset-5-font-weight: var(--font-weight-regular);
    --text-preset-5-line-height: 1.2;
    --text-preset-5-letter-spacing: -0.48px;

    --text-preset-6-font-size: 1.2rem;
    --text-preset-6-font-weight: var(--font-weight-regular);
    --text-preset-6-line-height: 1.2;
    --text-preset-6-letter-spacing: 0;

    /* =====  Spacing ===== */
    --spacing-25: 0.2rem;
    --spacing-50: 0.4rem;
    --spacing-75: 0.6rem;
    --spacing-100: 0.8rem;
    --spacing-125: 1.0rem;
    --spacing-150: 1.2rem;
    --spacing-200: 1.6rem;
    --spacing-250: 2.0rem;
    --spacing-300: 2.4rem;
    --spacing-400: 3.2rem;
    --spacing-500: 4.0rem;
    --spacing-600: 4.8rem;
    --spacing-800: 6.4rem;
    --spacing-1000: 8.0rem;
    --spacing-1200: 9.6rem;
    --spacing-1400: 11.2rem;
    --spacing-1600: 12.8rem;
    --spacing-1800: 14.0rem;

    /* =====  Radius ===== */
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;
}

/*
  =========================
  RESET & BASE
  =========================
*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: var(--spacing-800);
    padding: var(--spacing-400) var(--spacing-1400);
    font-family: var(--font-family-primary);
    background-color: hsl(var(--neutral-900));
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

button {
    font-family: unset;
    background-color: transparent;
}

img {
    display: block;
}

/*
  =========================
  UTILITIES
  =========================
*/
.text-preset-1 {
    font-size: var(--text-preset-1-font-size);
    font-weight: var(--text-preset-1-font-weight);
    line-height: var(--text-preset-1-line-height);
    letter-spacing: var(--text-preset-1-letter-spacing);
}

.text-preset-1-regular {
    font-size: var(--text-preset-1-regular-font-size);
    font-weight: var(--text-preset-1-regular-font-weight);
    line-height: var(--text-preset-1-regular-line-height);
    letter-spacing: var(--text-preset-1-regular-letter-spacing);
}

.text-preset-2 {
    font-size: var(--text-preset-2-font-size);
    font-weight: var(--text-preset-2-font-weight);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);
}

.text-preset-3 {
    font-size: var(--text-preset-3-font-size);
    font-weight: var(--text-preset-3-font-weight);
    line-height: var(--text-preset-3-line-height);
    letter-spacing: var(--text-preset-3-letter-spacing);
}

.text-preset-3-semibold {
    font-size: var(--text-preset-3-semibold-font-size);
    font-weight: var(--text-preset-3-semibold-font-weight);
    line-height: var(--text-preset-3-semibold-line-height);
    letter-spacing: var(--text-preset-3-semibold-letter-spacing);
}

.text-preset-4 {
    font-size: var(--text-preset-4-font-size);
    font-weight: var(--text-preset-4-font-weight);
    line-height: var(--text-preset-4-line-height);
    letter-spacing: var(--text-preset-4-letter-spacing);
}

.text-preset-5 {
    font-size: var(--text-preset-5-font-size);
    font-weight: var(--text-preset-5-font-weight);
    line-height: var(--text-preset-5-line-height);
    letter-spacing: var(--text-preset-5-letter-spacing);
}

.text-preset-6 {
    font-size: var(--text-preset-6-font-size);
    font-weight: var(--text-preset-6-font-weight);
    line-height: var(--text-preset-6-line-height);
    letter-spacing: var(--text-preset-6-letter-spacing);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(100%);
    pointer-events: none;
}

/*
  =========================
  BACKGROUND PATTERNS
  =========================
*/
.pattern {
    position: absolute;
    z-index: -1;
    display: none;
    height: auto;
    object-fit: contain;
}

.pattern--star-1 {
    right: 110px;
    top: 522px;
    width: 74px;
}

.pattern--star-2 {
    left: 110px;
    top: 252px;
    width: 32px;
}

.is-complete .pattern, .is-first-test .pattern {
    display: block;
}

/*
  =========================
  GLOBAL COMPONENTS
  =========================
*/
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-125);
    cursor: pointer;
}

.btn--primary {
    padding: var(--spacing-200) var(--spacing-300);
    border-radius: var(--radius-12);
    color: hsl(var(--neutral-0));
    background-color: hsl(var(--blue-600));
    transition: background-color 0.15s ease-in;
}

.btn--primary:hover {
    background-color: hsl(var(--blue-400));
}

.btn--primary:focus-visible {
    outline-offset: 3px;
    outline: 2px solid hsl(var(--blue-400));
}

.btn--secondary {
    padding: var(--spacing-200);
    border-radius: var(--radius-12);
    transition: opacity 0.15s ease-in;
}

.btn--secondary:hover {
    opacity: 0.9;
}

.btn--secondary:focus-visible {
    outline-offset: 3px;
    outline: 2px solid hsl(var(--blue-400));
}

.btn--secondary-light {
    color: hsl(var(--neutral-900));
    background-color: hsl(var(--neutral-0));
}

.btn--secondary-dark {
    color: hsl(var(--neutral-0));
    background-color: hsl(var(--neutral-800));
}

.restart-icon {
    width: 2.0rem;
    height: auto;
    object-fit: contain;
}

.btn--select {
    padding: var(--spacing-75) var(--spacing-125);
    border: 1px solid hsl(var(--neutral-500));
    border-radius: var(--radius-8);
    color: hsl(var(--neutral-0));
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.btn--select:hover {
    color: hsl(var(--blue-400));
    border-color: hsl(var(--blue-400));
}

.btn--select:has(input:focus-visible) {
    outline-offset: 2px;
    outline: 2px solid hsl(var(--blue-400));
}

.btn--select:has(input:checked) {
    color: hsl(var(--blue-400));
    border-color: hsl(var(--blue-400));
}

.btn--radio {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid hsl(var(--neutral-0));
    border-radius: var(--radius-full);
    background-color: hsl(var(--neutral-800));
}

.btn--radio::before { /* The circle at the center of the radio button */
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-radius: var(--radius-full);
    opacity: 0;
    background-color: hsl(var(--neutral-900));
}

.btn--radio:has(input:focus-visible) {
    outline-offset: 2px;
    outline: 2px solid hsl(var(--blue-400));
}

.btn--radio:has(input:checked) {
    border-color: transparent;
    background-color: hsl(var(--blue-400));
}

.btn--radio:has(input:checked)::before {
    opacity: 1;
}

.dropdown {
    position: relative;
}

.dropdown__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--spacing-125);
    padding: var(--spacing-75) var(--spacing-125);
    border: 1px solid hsl(var(--neutral-500));
    border-radius: var(--radius-8);
    color: hsl(var(--neutral-0));
}

.dropdown__toggle:focus-visible {
    outline-offset: 2px;
    outline: 2px solid hsl(var(--blue-400));
}

.dropdown__value {
    text-transform: capitalize;
}

.dropdown__icon {
    width: 1.0rem;
    height: auto;
    object-fit: contain;
    transition: transform 0.15s ease-in;
}

.dropdown__options {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 10;
    display: none;
    flex-direction: column;
    gap: var(--spacing-100);
    padding: var(--spacing-125) 0;
    border-radius: var(--radius-8);
    background-color: hsl(var(--neutral-800));
    animation: slideDownFadeIn 0.15s ease-in forwards;
}

.dropdown__option {
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
    padding: 0 var(--spacing-125);
    color: hsl(var(--neutral-0));
}

.dropdown__divider {
    height: 1px;
    background-color: hsl(var(--neutral-700));
}

.dropdown.is-open .dropdown__icon {
    transform: rotate(180deg);
}

.dropdown.is-open .dropdown__options {
    display: flex;
}

/*
  =========================
  SITE HEADER
  =========================
*/
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header--mobile {
    display: none;
}

.logo {
    height: auto;
    object-fit: contain;
}

.logo--small {
    width: 3.2rem;
}

.personal-best {
    display: flex;
    align-items: center;
    gap: var(--spacing-125);
}

.personal-best__icon {
    height: auto;
    object-fit: contain;
}

.site-header--desktop .personal-best__icon {
    width: 2.0rem;
}

.site-header--mobile .personal-best__icon {
    width: 1.8rem;
}

.personal-best__content {
    color: hsl(var(--neutral-400));
}

.personal-best__score {
    color: hsl(var(--neutral-0));
}

/*
  =========================
  MENU
  =========================
*/
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-250) var(--spacing-200);
    padding-bottom: var(--spacing-200);
    border-bottom: 1px solid hsl(var(--neutral-700));
}

.is-complete .menu, .is-new-best .menu, .is-first-test .menu {
    display: none;
}

.menu__divider {
    align-self: stretch;
    width: 1px;
    background-color: hsl(var(--neutral-700));
}

.menu__stats {
    display: flex;
    align-items: center;
    gap: var(--spacing-300);
}

.menu__stat {
    --accent-color: hsl(var(--neutral-0));
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
}

.is-running .menu__stat--accuracy {
    --accent-color: hsl(var(--red-500));
}

.is-running .menu__stat--accuracy.is-perfect {
    --accent-color: hsl(var(--green-500));
}

.is-running .menu__stat--time {
    --accent-color: hsl(var(--yellow-400));
}

.menu__label {
    color: hsl(var(--neutral-400));
}

.menu__value {
    color: var(--accent-color);
}

.menu__settings-desktop {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.menu__setting {
    display: flex;
    align-items: center;
    gap: var(--spacing-75);
}

.menu__setting .menu__label {
    padding-right: var(--spacing-100);
}

.menu__settings-mobile {
    display: none;
}

/*
  =========================
  PASSAGE
  =========================
*/
.passage {
    position: relative;
    min-height: 25.6rem;
}

.is-complete .passage, .is-new-best .passage, .is-first-test .passage {
    display: none;
}

.passage__content {
    color: hsl(var(--neutral-0) / 0.4);
    filter: blur(8px);
    user-select: none;
    white-space: pre-wrap;
}

.passage__content:hover {
    filter: blur(6px);
}

.is-focused .passage__content {
    color: hsl(var(--neutral-400));
    filter: none;
}

.is-focused .passage__content:hover {
    filter: none;
}

.is-loading .passage__content {
    display: none;
}

.passage__content--measurer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 12.8rem;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
}

.passage__intro {
    position: absolute;
    inset: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-200);
    color: hsl(var(--neutral-0));
    pointer-events: none;
}

.is-loading .passage__intro, .is-focused .passage__intro {
    display: none;
}

.passage__icon {
    height: auto;
    object-fit: contain;
}

.passage__icon--arrow {
    width: 2.8rem;
}

.passage__icon--hand {
    display: none;
    width: 3.2rem;
}

.passage__loader {
    --circle: radial-gradient(circle closest-side, hsl(var(--neutral-0)) 95%, hsl(var(--neutral-900)));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 60px;
    height: 30px;
    background:
        var(--circle) 0%   50%,
        var(--circle) 50%  50%,
        var(--circle) 100% 50%;
    background-repeat: no-repeat;
    background-size: calc(100% / 3) 50%;
    animation: loading 1s linear infinite;
}

.is-loading .passage__loader {
    display: block;
}

/*
  =========================
  RESULTS
  =========================
*/
.results {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-400);
}

.results--complete, .results--first-test {
    padding-top: var(--spacing-300);
}

.is-complete .results--complete , .is-new-best .results--new-best, .is-first-test .results--first-test {
    display: flex;
}

.results__icon {
    height: auto;
    object-fit: contain;
}

.results__icon--completed {
    width: 6.4rem;
    border-radius: var(--radius-full);
    box-shadow: 0 0 0 16px hsl(var(--green-500) / 0.2), 0 0 0 32px hsl(var(--green-500) / 0.1);
}

.results__icon--new-best {
    width: 8.0rem;
}

.results__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-125);
    text-align: center;
}

.results--complete .results__content, .results--first-test .results__content {
    padding-top: var(--spacing-300);
}

.results__heading {
    color: hsl(var(--neutral-0));
}

.results__summary {
    color: hsl(var(--neutral-400));
}

.results__stats {
    display: grid;
    grid-template-columns: repeat(3, 16.0rem);
    gap: var(--spacing-250);
    padding: var(--spacing-250) 0 var(--spacing-400) 0;
}

.results__stat {
    --accent-color: hsl(var(--neutral-0));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-150);
    padding: var(--spacing-200) var(--spacing-300);
    border: 1px solid hsl(var(--neutral-700));
    border-radius: var(--radius-8);
}

.results__stat--accuracy {
    --accent-color: hsl(var(--red-500));
}

.results__stat--accuracy.is-perfect {
    --accent-color: hsl(var(--green-500));
}

.results__stat--characters {
    --accent-color: hsl(var(--neutral-500));
}

.results__label {
    color: hsl(var(--neutral-400));
}

.results__value {
    color: var(--accent-color);
}

.results__correct {
    color: hsl(var(--green-500));
}

.results__incorrect {
    color: hsl(var(--red-500));
}

/*
  =========================
  SITE FOOTER
  =========================
*/
.site-footer {
    display: none;
    justify-content: center;
    padding-top: var(--spacing-400);
    border-top: 1px solid hsl(var(--neutral-700));
}

.has-started .site-footer {
    display: flex;
}

/*
  =========================
  STATES
  =========================
*/
.is-correct {
    color: hsl(var(--green-500));
}

.is-incorrect {
    position: relative;
    color: hsl(var(--red-500));
}

.is-incorrect::before { /* Red underline */
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 0.3rem;
    background-color: hsl(var(--red-500));
}

.is-highlighted {
    position: relative;
}

.is-highlighted::before { /* Transparent background */
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 4.0rem;
    border-radius: var(--radius-4);
    background-color: hsl(var(--neutral-0) / 0.2);
}

/*
  =========================
  ANIMATIONS
  =========================
*/
@keyframes loading {
    20% { background-position: 0%   0%, 50%  50%, 100%  50%; }
    40% { background-position: 0% 100%, 50%   0%, 100%  50%; }
    60% { background-position: 0%  50%, 50% 100%, 100%   0%; }
    80% { background-position: 0%  50%, 50%  50%, 100% 100%; }
}

@keyframes slideDownFadeIn {
    from { transform: translateY(0.2rem); opacity: 0; }
    to   { transform: translateY(0.8rem); opacity: 1; }
}

/*
  =========================
  MEDIA QUERIES
  =========================
*/
@media (max-width: 896px) {
    body {
        gap: var(--spacing-500);
        padding: var(--spacing-400) var(--spacing-400) var(--spacing-800);
    }

    .is-complete, .is-new-best, .is-first-test {
        gap: var(--spacing-1000);
    }

    .pattern--star-1 {
        right: 32px;
        top: 624px;
    }

    .pattern--star-2 {
        left: 48px;
        top: 196px;
    }
}

@media (max-width: 768px) {
    .passage__icon--arrow {
        display: none;
    }

    .passage__icon--hand {
        display: block;
    }
    .results--new-best .results__content {
        padding-top: var(--spacing-300);
    }

    .results__stats {
        grid-template-columns: repeat(auto-fit, minmax(20.0rem, 1fr));
        align-self: stretch;
    }
}

@media (max-width: 672px) {
    .menu__settings-desktop {
        display: none;
    }

    .menu__settings-mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-grow: 1;
        gap: var(--spacing-125);
    }
}

@media (max-width: 576px) {
    .site-header--desktop {
        display: none;
    }

    .site-header--mobile {
        display: flex;
    }

    .menu {
        row-gap: var(--spacing-200);
    }

    .menu__stats {
        display: grid;
        grid-template-columns: 1fr auto 1fr auto 1fr;
        flex-grow: 1;
        gap: var(--spacing-250);
    }

    .menu__stat {
        flex-direction: column;
        gap: var(--spacing-100);
    }
}

@media (max-width: 496px) {
    body {
        gap: var(--spacing-400);
        padding: var(--spacing-200) var(--spacing-200) var(--spacing-400);
    }

    .is-complete, .is-new-best, .is-first-test {
        gap: var(--spacing-400);
    }

    .pattern--star-1 {
        right: 30px;
        top: 734px;
        width: 40px;
    }

    .pattern--star-2 {
        left: 18px;
        top: 124px;
        width: 22px;
    }

    .text-preset-1 {
        font-size: var(--text-preset-1-mobile-font-size);
        line-height: var(--text-preset-1-mobile-line-height);
        letter-spacing: var(--text-preset-1-mobile-letter-spacing);
    }

    .text-preset-1-regular {
        font-size: var(--text-preset-1-regular-mobile-font-size);
        line-height: var(--text-preset-1-regular-mobile-line-height);
        letter-spacing: var(--text-preset-1-regular-mobile-letter-spacing);
    }

    .text-preset-3 {
        font-size: var(--text-preset-3-mobile-font-size);
        line-height: var(--text-preset-3-mobile-line-height);
        letter-spacing: var(--text-preset-3-mobile-letter-spacing);
    }

    .results {
        gap: var(--spacing-300);
        padding-top: var(--spacing-200);
    }

    .results__icon--completed {
        width: 4.8rem;
        box-shadow: 0 0 0 7.5px hsl(var(--green-500) / 0.2), 0 0 0 15px hsl(var(--green-500) / 0.1);
    }

    .results__icon--new-best {
        width: 6.4rem;
    }

    .results--complete .results__content, .results--first-test .results__content {
        padding-top: var(--spacing-200);
    }

    .results--new-best .results__content {
        padding-top: var(--spacing-100);
    }

    .results__stats {
        gap: var(--spacing-200);
        padding: 0 0 var(--spacing-200) 0;
    }
}

@media (prefers-reduced-motion: reduce) {
    .btn, .dropdown__toggle {
        transition: none;
    }
}